

<!DOCTYPE html>

<head>

    <style>

</style>


    <title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<body>


<div class="about-section">
<h1>WE PREDICT YOUR Z SCORE</h1>
<p>Please attend to all the Mock Exams first.</p>
<p>WISH YOU ALL THE VERY BEST.</p>
</div>

<ul>
<li><a href=log2>LOGIN</a></li>
<li><a href=register2>REGISTER</a></li>
</ul>

<h2 style="text-align:center">UNIVERSITIES IN SRI LANKA</h2>

<div class="row">
<div class="column">
<div class="card">
  <img src="static/css/uni/uoc.jpg" alt="Jane" width="100%" height="250">
  <div class="container">
    <h2>UNIVERSITY OF COLOMBO</h2>
    <p>The University of Colombo is a public research university located primarily in Colombo, Sri Lanka and among the most prestigious in the world.It is the oldest institution of modern higher education in Sri Lanka.</p>
  </div>
</div>
</div>

<div class="column">
<div class="card">
  <img src="static/css/uni/uom.jpg" alt="Jane" width="100%" height="250">
  <div class="container">
    <h2>UNIVERSITY OF MORATUWA</h2>
    <p>The University of Moratuwa is a technological university in Sri Lanka. It is located on the bank of the Bolgoda Lake in Katubedda, Moratuwa.</p>
  </br>
  </div>
</div>
</div>

<div class="column">
<div class="card">
  <img src="static/css/uni/uok.jpg" alt="Jane" width="100%" height="250">
  <div class="container">
    <h2>UNIVERSITY OF KALANIYA</h2>
    <p>The University of Kelaniya is a state university in Sri Lanka. Just outside the municipal limits of Colombo, in the city of Kelaniya, the university has two major campuses, seven locations, six faculties and four institutions</p>
  </div>
</div>
</div>

<div class="column">
<div class="card">
  <img src="static/css/uni/japura.jpg" alt="Jane" width="100%" height="250">
  <div class="container">
    <h2>UNIVERSITY OF SRI JAYAWARDANAPURA</h2>
    <p>The University of Sri Jayewardenepura is a university in Sri Lanka. It is in Gangodawila, Nugegoda, near Sri Jayewardenepura Kotte, the capital city. It was formed in 1958 out of the Vidyodaya Pirivena, a Buddhist educational centre which was founded in 1873.</p>
  </div>
</div>
</div>

<div class="column">
<div class="card">
  <img src="static/css/uni/uor.jpg" alt="Jane" width="100%" height="250">
  <div class="container">
    <h2>UNIVERSITY OF RUHUNA</h2>
    <p>The University of Ruhuna is a public university in Matara, Sri Lanka. It is the only university in Southern Sri Lanka. It was established by a Special Presidential Decree on 1 September 1978 as Ruhuna University College and upgraded to a fully-fledged university on 1 February 1984 by a University order.</p>
  </div>
</div>
</div>

<div class="column">
<div class="card">
  <img src="static/css/uni/uoj.jpg" alt="Jane" width="100%" height="250">
  <div class="container">
    <h2>UNIVERSITY OF JAFFNA</h2>
    <p>The University of Jaffna is a public university in the city of Jaffna in Sri Lanka. Established in 1974 as the sixth campus of the University of Sri Lanka, it became an independent, autonomous university in 1979. UoJ has two campuses — the main campus in Thirunelvely in Jaffna and a second campus in Vavuniya</p>
  </div>
</div>
</div>

<div class="column">
<div class="card">
  <img src="static/css/uni/sabare.jpg" alt="Jane" width="100%" height="250">
  <div class="container">
    <h2>SABARAGAMUWA UNIVERSITY</h2>
    <p>The Sabaragamuwa University of Sri Lanka is a public university in Belihuloya, Balangoda, Sri Lanka. It was founded on 20 November 1991 and consists of Eight faculties </p></br>
  </div>
</div>
</div>

<div class="column">
<div class="card">
  <img src="static/css/uni/uop.jpg" alt="Jane" width="100%" height="250">
  <div class="container">
    <h2>UNIVERSITY OF PERADENIYA</h2>
    <p>The University of Peradeniya is a state university in Sri Lanka, funded by the University Grants Commission. It is the largest university in Sri Lanka, which was originally established as the University of Ceylon in 1942.</p>
 </br>
  </div>
</div>
</div>

<div class="column">
<div class="card">
  <img src="static/css/uni/rajarata.jpg" alt="Jane" width="100%" height="250">
  <div class="container">
    <h2>RAJARATA UNIVERSITY</h2>
    <p>Rajarata University of Sri Lanka is a public university located in the historic city of Mihintale, near Anuradhapura, Sri Lanka. The Rajarata University of Sri Lanka was established as the eleventh University in Sri Lanka and was opened on 31 January 1996 by President Chandrika Kumaratunga.</p>

  </div>
</div>
</div>
</div>
</body>
</html>